<h1>Editing Economy carriage</h1>

<%= render 'form', economy_carriage: @economy_carriage %>

<%= link_to 'Show', [:admin, @economy_carriage] %> |
<%= link_to 'Back', admin_train_economy_carriages_path(@economy_carriage.train) %>
