<%= form_with(model: [:admin, railway_station], local: true, id: "form_station_id_#{railway_station.id}", html: {style: "display:#{hidden ? 'none' : 'block'}"}) do |form| %>
  <%= render 'common/errors', resource: railway_station %>
  <div class="field">

    <%= form.text_field :title %>
  </div>

  <div class="actions btn">
    <%= form.submit "#{ railway_station.new_record? ? t('common.create') : t('common.change') }" %>
  </div>
<% end %>
