<p id="notice"><%= notice %></p>

<h1>Coupe carriages</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <%= render @coupe_carriages %>
  </tbody>
</table>

<br>

<%= link_to 'New coupe_carriage', new_coupe_carriage_path %>
