<h1>Editing Seats carriage</h1>

<%= render 'form', seats_carriage: @seats_carriage %>

<%= link_to 'Show', [:admin, @seats_carriage] %>
<%= link_to 'Back', admin_train_seats_carriages_path(@train) %>
