<p id="notice"><%= notice %></p>

<h1>Economy carriages</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <%= render @economy_carriages %>
  </tbody>
</table>

<br>

<%= link_to 'New economy_carriage', new_economy_carriage_path %>
